<!DOCTYPE html>
<html lang="pt"
xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{cliente/fragments/layout}">
	
<head>
<meta charset="utf-8">

</head>
<body>

<div class="container-fluid" layout:fragment="corpo">
	

	

	<div class="home" >
		<div class="home_container" >
			<div class="home_background" style="background-image:url(/images/cart.jpg)"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="breadcrumbs">
									<ul>
										<li><a href="/">Home</a></li>
										
										<li>Carrinho de Compras</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Cart Info -->

	<
		<div class="row">

			<div class="col-12">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Produto</th>
								<th scope="col">Estoque</th>
								<th scope="col" class="text-center">Quantidade</th>
								<th scope="col" class="text-right">Valor Unitário</th>
								<th scope="col" class="text-right">Valor Total</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${listaItens}">
								<td><img  th:src="@{/mostrarImagem/{imagem}(imagem=${item.produto.nomeImagem})}"  />
								</td>
								<td th:text="${item.produto.nome}"></td>
								<td>Em estoque</td>
								<td><span th:text="${item.quantidade}"></span> &nbsp;&nbsp;

									<a class="btn btn-sm btn-success"
									th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id},acao=${1})}"
									role="button"><i class="fa fa-plus"></i></a> &nbsp;&nbsp; <a
									class="btn btn-sm btn-success"
									th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id},acao=${0})}"
									role="button"><i class="fa fa-minus"></i></a></td>
							
								<td class="text-right" th:text="${item.valorUnitario}"></td>
								<td class="text-right" th:text="${item.valorTotal}"></td>
								<td class="text-right"><a class="btn btn-sm btn-danger"
									th:href="@{/removerProduto/{id}(id=${item.produto.id})}"
									role="button"><i class="fa fa-trash"></i></a></td>
							</tr>

							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>Sub-Total</td>
								<td class="text-right"><span th:text="${compra.valorTotal}"></span></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>Frete</td>
								<td class="text-right">0,00</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><strong>Total</strong></td>
								<td class="text-right"><strong><spam
										th:text="${compra.valorTotal}"></strong></spam></td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="col mb-12">
				<div class="row">
					<div class="col-sm-12 col-md-6 text-right">
						<button class="btn btn-block btn-light">Continue
							Comprando</button>
					</div>
					<div class="col-sm-12 col-md-6 text-right">
					<a class="btn btn-lg btn-block btn-dark text-uppercase"
									th:href="finalizar"
									role="button">Finalizar a Compra</a>
				
					</div>
				</div>
			</div>


		</div>
		<!-- /.row -->
				<br/><br/><br/><br/>						<hr>

						
	
</div>
<br/>

<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/greensock/TweenMax.min.js"></script>
<script src="/plugins/greensock/TimelineMax.min.js"></script>
<script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/plugins/greensock/animation.gsap.min.js"></script>
<script src="/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/js/cart.js"></script>
</body>
</html>