<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
    
<head>
        <title>Loja Admin</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="dist/css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="dist/css/matrix-login.css" />
        <link rel="icon" type="image/png" sizes="16x16">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

    </head>
   <body data-gr-c-s-loaded="true">
        <div id="loginbox">            
            <form id="loginform" class="form-vertical"  th:action="@{/login}" method="post">
				 <div class="control-group normal_text"> <h3> LOGIN <i class=" fas fa-coffee-alt"></i></h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span><input name="username" type="email" placeholder="nome@email.com">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input name="password" type="password" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                   <button type="submit" href="/administrativo"  class="btn btn-lg btn-success"> Login</button>
                </div>
            </form>
            
        </div>
        
        <script src="dist/js/jquery.min.js"></script>  
        <script src="dist/js/matrix.login.js"></script> 
    


</body>

</html>
