<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
<meta charset="utf-8">
</head>
			<!-- ============================================================== -->
			<!-- Container fluid  -->
			<!-- ============================================================== -->
			<div class="container-fluid" layout:fragment="corpo">
				<div class="col-sm-6">
					<div class="card align-center">
						<form class="form-horizontal " th:object="${funcionario}"
							th:action="@{/administrativo/funcionario/salvar}" method="POST">

							<div class="card-body text-center">
								<h4 class="card-title">Cadastro de Funcionario</h4>

								<div class="form-group row">
									<div class="alert alert-danger"
										th:if="${#fields.hasAnyErrors()}">
										<div th:each="detailedError : ${#fields.detailedErrors()}">
											<span th:text="${detailedError.message}"></span>
										</div>
									</div>
									<label for="fname"
										class="col-sm-3 text-right control-label col-form-label"></label>
									<div class="col-sm-9">
										<input type="hidden" class="form-control" id="id"
											th:field="*{id}" readOlny="readonly" placeholder="id">
									</div>
								</div>
								<div class="form-group row">
									<label for="lname"
										class="col-sm-3 text-right control-label col-form-label">Nome
										</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="lname"
											th:field="*{nome}" placeholder="Informe o nome completo"
											maxlength="50">
									</div>
								</div>
								<div class="form-group row">
									<label for="lname"
										class="col-sm-3 text-right control-label col-form-label">CPF
										</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="lname"
											th:field="*{cpf}" placeholder="Informe o cpf"
											maxlength="11">
									</div>
								</div>
								<div class="form-group row">
									<label for="lname"
										class="col-sm-3 text-right control-label col-form-label">RG
										</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="lname"
											th:field="*{rg}" placeholder="Informe o rg"
											maxlength="50">
									</div>
								</div>
								<div class="form-group row">
									<label for="lname"
										class="col-sm-3 text-right control-label col-form-label">E-mail
										</label>
									<div class="col-sm-9">
										<input type="email" class="form-control" id="lname"
											th:field="*{email}" placeholder="seuNome@email.com"
											>
									</div>
								</div>
								<div class="form-group row">
									<label for="lname"
										class="col-sm-3 text-right control-label col-form-label">Senha
										</label>
									<div class="col-sm-9">
										<input type="password" class="form-control" id="lname"
											th:field="*{senha}" placeholder="Senha"
											minlength="3">
									</div>
								</div>
								
								<div class="form-group row">
									<label for="lname"
										class="col-sm-3 text-right control-label col-form-label">Salário
										</label>
									<div class="col-sm-9">
										<input type="number" class="form-control" id="lname"
											th:field="*{salario}" placeholder="Informe o salário">
											  <span class="input-group-text" id="basic-addon2">$</span>
									</div>
								</div>
							
							
							
								<div class="form-group row">
									<label for="lname"
										class="col-sm-3 text-right control-label col-form-label">Cidade</label>
									<div class="col-sm-9">
										<select th:field="*{cidade}"
									class="form-control">
									<option th:each="c: ${cidades}"
										th:value="${c.id}" th:text="${c.nome}"></option>
								</select>
									</div>
								</div>

							</div>
							<div class="card">

								<div class="border-top"></div>
							</div>
							<div class="card"></div>
							<div class="text-center">
								<div class="card-body ">
									<button  type="submit" class="btn btn-success btn-lg">Adicionar</button>
									<a th:href="@{/administrativo/funcionario/listar}"
										class="btn btn-lg btn-danger">Cancelar</a>

								</div>
							</div>
												</form>
							
					</div>


				</div>

			</div>


		<!-- ============================================================== -->
		<!-- End Container fluid  -->
		<!-- ============================================================== -->
	

</body>
</html>